/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock

# rspec failure tracking
.rspec_status
/.rubocop-http*

/spec/fixtures/rice-en.cd.mn.xml
/spec/fixtures/rice-en.final.sts.xml
